* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background:#ffffff;
  font-family: 'calibri';
  min-height: 100vh;
  flex-wrap: wrap;
  background-color: #FFE4B5;

}
/*estilo letra titulo*/
.letralogo{
  font-family: 'Beau Rivage', cursive;
  text-align:center;
  font-size: 50px;
  color: #ff69b4;
  
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  header {
    background: #ffefd5;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }

  .menu {
    width: 900px;
    margin: 0 auto;
  }
  
  .logo div a img  {
    width: 50px;
    height: 50px;
    float: left;
    padding: 8px;  
  }  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
  }
  
  nav ul li a img {
    width: 150px;
    height: 150px;
    float: left;
    padding: 4px;
  }


  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }
    /* estilo bootstrap*/
    .card-img-top{
      width: 100px;
      height: 300px; 
      float: left;
      padding: 10px;
    }

    /*estilo tabla*/
    table{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border-collapse: collapse ;    

      padding: 15px;
      background-color: #ffe6e6;
    
   }

  #estilocelda>table>tbody>tr>td {
   
   }

    /*estilo carrusel*/
    #carouselExampleSlidesOnly>div>div>img{
    width: 80px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }


/*estilo footer*/
footer {
  align-self: flex-end;
  background-color: rgba(245, 193, 151, 0.884);
  line-height: 1;
  text-align: center;
  width: 100%;
  padding: 15px 20px;
  color: #8b4513;
 
}
footer>div>a>img{
  width: 70px;
  height: 50px;
  float: right;
  padding: 8px
  
}

footer #logopagos img{

  width: 600px;
  height: 80px;
  float: left;  
}

footer>address{
  font-size: 15px;
  font-style:italic;  
  color: #8b4513;
  
}