*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background:#ffffff;
    font-family: 'calibri';
    /*stilos fondo */
    height: 800px;
    background-image: url("../images/fondo.jpg");
    background-size: cover;
    background-size: 100rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

  
  }
  /*estilo letra titulo*/
  .letralogo{
    font-family: 'Beau Rivage', cursive;
    text-align:left ;
    font-size: 100%;
    color: #ff69b4;
    
    }
      
  header {
    background: #fadeb0;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }
  
    .menu {
      width: 900px;
      margin: 0 auto;
    }
    
    
    img {
      width: 50px;
      height: 50px;
      float: left;
      padding: 5px;
    
    }
    
    nav {
      float: right;
    }
    
    nav ul li {
      list-style: none;
      margin-left: 75px;
      padding: 12px 0;
      float: left;
      position: relative;
    }
    
    nav ul li a {
      text-decoration: none;
      color: #444;
      font-weight: bold;
    }
    
    nav ul li a::before {
      display: block;
      content: '';
      width: 0%;
      background: #444;
      height: 5px;
      top:0;
      position: absolute;
      transition: width 0.2s;
    }
    
    nav ul li a:hover::before {
      width: 100%;
    }


    /* estilo bootstrap*/
    .card-img-top{
      width: 100px;
      height: 300px; 
      float: left;
      padding: 10px;
    }
/*estilo footer*/
footer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 120px;
  margin-top: 30%;
  background-color: aqua;
}
footer>a>img{
  width: 50px;
  height: 50px;
}
footer>span {
  display: block;
  margin-left: auto;
  margin-right: auto;
}